# IDE
.idea/
.vscode/
*.iml

# Gradle
.gradle/
**/build/

# Java
*.class

# OS
Thumbs.db
.DS_Store

# Minecraft runtime stuff
logs/
crash-reports/
saves/
screenshots/

# Secrets
.env
*.secret

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Minecraft development runtime
**/run/
**/runs/

# Logs
*.log